<br>
<p class="lead">
    Nanizane so <b>primerjave med izvornimi in gručenimi slikami šarenic</b>. Iz teh primerjav lahko opazimo, da Daugmannov algoritem deluje 
    <b>nekoliko slabše na gručenih šarenicah</b> zaradi plaskovnega gradienta (barve ne prehajajo gladko) - zato algoritem v večini "ne more" določiti
    ustrezne meje med šarenico in beločnico ter med šarenico in roženico. Za risanje elips sem uporabil knjižnico curvePy.py.
</p>
<p class="lead">Uporabljene Python skripte:</p>
<ul class="lead">
  <li><b>algorithm.py</b></li>
  <li><b>daugmanSecondary.py</b></li>
  <li><b>daugmanPrimary.py</b></li>
  <li><b>drawLines.py</b></li>
</ul>  
<div class="row">
    <div class="col-sm-6">
        <p class="lead" style="text-align: center; padding-right: 100px">Izvorne slike šarenic</p>
        <img src="../../../assets/pictures/daugmann1.png" id="daugman1" style="width:80%">
        <img src="../../../assets/pictures/daugmann2.png" id="daugman2" style="width:80%">
        <img src="../../../assets/pictures/daugman3.png" id="daugman3" style="width:80%">
        
    </div>
    <div class="col-sm-6">
        <p class="lead" style="text-align: center; padding-right: 100px">Gručene šarenice (k=30)</p>
        <img src="../../../assets/pictures/daugmann1-1.png" id="daugman1-1" style="width:80%">
        <img src="../../../assets/pictures/daugmann2-1.png" id="daugman2-1" style="width:80%">
        <img src="../../../assets/pictures/daugman3-1.png" id="daugman3-1" style="width:80%">

    </div>


</div>
