<div class="jumbotron" style="border-radius: 0px;height:4600px" >
  <div class="container">
    <h1 class="display-4" style="font-size: 40px"><b>Analiza in iskanje podobnosti med šarenicami uporabnikov</b></h1>
    <p class="lead">Projektna naloga pri predmetu Osnove oblikovanja</p>
    <hr class="my-4">
    
  </div>
</div>

<footer class="page-footer font-small blue" style="background-color: #525252; margin-top: -32px">

  <div class="footer-copyright text-center py-3" style="color: white">
   © 2021 Copyright &nbsp;&nbsp;
    <a routerLink="/register" style="text-decoration: none; color: white"> Amadej Šenk, Eva Bizilj</a>
  </div>

</footer>