.scrollTop{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #fff url(C:\Users\guide\oo\OO-projekt\OO\oo-projekt\src\assets\pictures\up.png);
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
}